check_image_service/wsdl/check_developper.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->

<definitions name="check_image" 
             targetNamespace="urn:check_image" 
             xmlns:typens="urn:check_image" 
             
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
             xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:typens0="http://localhost/check_image_service/index.php">
    <message name="retourDate"/>
    <message name="retourDateResponse">
        <part name="retourDateReturn"/>
    </message>
    <message name="KeyAndApkRequest">
        <part name="checking_key" type="xsd:string"/>
        <part name="apk_binary" type="xsd:binary"/>
    </message>
    
    <message name="TrustDegreeResponse">
        <part name="trust_degree" type="xsd:float"/>
    </message>
    <portType name="check_image_PortType">
        <operation name="retourDate">
            <input message="typens:retourDate"/>
            <output message="typens:retourDateResponse"/>
        </operation>
        <operation name="checkDevelopper">
            <input message="tns:KeyAndApkRequest"/>
            <output message="tns:TrustDegreeResponse"/>
        </operation>
        
        
    </portType>
    
    
    
    
    
   
    <binding name="essai_instanceBinding" type="typens:check_image_PortType">
        <!--<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>-->
        <http:binding verb="POST"/>
        <!--<operation name="retourDate">
            <http:operation soapAction="urn:essai_instanceAction"/>
            <input>
                <soap:body namespace="urn:exemple" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:exemple" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>-->
        <operation name="checkDevelopper">
            <http:operation location="checkDevelopper.php"/>
            <input>
               <mime:content type="application/x-www-form-urlencoded"/>        
            </input>
            <output>
               <mime:content type="image/gif"/>               
            </output>
        </operation>
         <operation name="add_icon_to_lab_database">
            <http:operation location="controllers/Add_icon_to_lab_database.php"/>
            <input>
               <mime:content type="application/x-www-form-urlencoded"/>        
            </input>
            <output>
               <mime:content type="image/gif"/>               
            </output>
        </operation>
        <operation name="refresh_lab_database">
            <http:operation location="controllers/Refresh_lab_database.php"/>
            <input>
               <mime:content type="application/x-www-form-urlencoded"/>        
            </input>
            <output>
               <mime:content type="image/gif"/>               
            </output>
        </operation>
          <operation name="Check_near_apparence_applications">
            <http:operation location="controllers/Check_near_apparence_applications.php"/>
            <input>
               <mime:content type="application/x-www-form-urlencoded"/>        
            </input>
            <output>
               <mime:content type="image/gif"/>               
            </output>
        </operation>
        <operation name="Add_icon_to_shapePoint_database">
            <http:operation location="controllers/Add_icon_to_shapePoint_database.php"/>
            <input>
               <mime:content type="application/x-www-form-urlencoded"/>        
            </input>
            <output>
               <mime:content type="image/gif"/>               
            </output>
        </operation>
        <operation name="Refresh_shapePoint_database">
            <http:operation location="controllers/Refresh_shapePoint_database.php"/>
            <input>
               <mime:content type="application/x-www-form-urlencoded"/>        
            </input>
            <output>
               <mime:content type="image/gif"/>               
            </output>
        </operation>
         <operation name="Check_near_shape_applications">
            <http:operation location="controllers/Check_near_shape_applications.php"/>
            <input>
               <mime:content type="application/x-www-form-urlencoded"/>        
            </input>
            <output>
               <mime:content type="image/gif"/>               
            </output>
        </operation>
        <operation name="Add_salient_shape_to_application">
            <http:operation location="controllers/Add_salient_shape_to_application.php"/>
            <input>
               <mime:content type="application/x-www-form-urlencoded"/>        
            </input>
            <output>
               <mime:content type="image/gif"/>               
            </output>
        </operation>
        <operation name="Check_near_salient_shape_applications">
            <http:operation location="controllers/Check_near_salient_shape_applications.php"/>
            <input>
               <mime:content type="application/x-www-form-urlencoded"/>        
            </input>
            <output>
               <mime:content type="image/gif"/>               
            </output>
        </operation>
    </binding>
    
    <service name="exempleService">
        <port name="essai_instancePort" binding="typens:essai_instanceBinding">
            <http:address location="http://localhost/check_image_service/"/>
        </port>
    </service>
    
    
    
    
    
</definitions>
